#map {
	width:75%;
	height: 100%;
	position: absolute;
	left: 25%;
	top: 0%;
}

#sidebar {
	position: absolute;
	width:25%;
	height:100%;
	min-width: 200px;
	left: 0px;
	top: 0px;
	margin: 0px;
	padding: 0px;
	padding-left: 0px;
}

.nav {
	margin-bottom: 0px;
}

#mapCanvas img { 
  max-width: none;
}

#mapCanvas label { 
  width: auto; display:inline; 
} 

#sidebar h2  {
	text-align: center;
}

.addDay {
	height: 50px;
}

.addDay ul {
	margin-left: 0px;
}

#my-tab-content {
	padding-top: 0px;
	position: relative;
	top: -20px;
	height: 94%;
	overflow: hidden;
}

#timeline {
	position: relative;
	width: 100%;
	height: 100%;
}

.itinerary {
	background-color: #FFC;
	height: 70%;
	width: 96%;
	border: 1px black solid;
	padding: 5px;
	overflow: auto;
}

#search {
	width: 100%;
	padding-top: 10px;
	background-color:#DDF;
	border-top: 1px gray solid;
	text-align: center;
	height: 98%;
}

.addText {
	width: 100%;
	text-align: center;
	position:relative;
	top: 20px;
	font-size: 16pt;
}

#addNew {
	width: 100%;
	height: 50px;
	text-align: center;
	position: relative;
	left: 5%;
	top: -10px;
}

#searchResults li {
	border: 1px solid black;
	margin: 2px;
}

.tab-content {
	height: 91%;
}

ul {
	list-style: none;
	padding: 0px;
	margin-left: 10px;
}

ul li.stop{
	list-style: none;
	padding-left: 10px;
	margin-left: 10px;
	border: solid;
	border-width: 1px;
	border-color: gray;
	overflow: hidden;
}

#total_td {
	font-size: 10pt;
}

.portal-column {
	border: 1px black solid;
	height: 100px;
}

.day {
	position: relative;
	border: solid;
	border-color: #BBB;
	margin-left: -15px;
	height: 40px;
}

.day .title {
	padding-left:100px;
	font-weight:bold;
	font-size: 16pt;
	position: absolute;
	top: 25%;
}

.day .details {
	padding-right:10px;
	font-size: 11pt;
	float: right;
	position: absolute;
	top: 20%;
	left: 60%;
}

.day_delete {
	position: absolute;
	right: 10px;
	top: 9px;
	cursor: default;
}

.delete#marker {
	position: absolute;
	right: 5px;
	top: 60%;
}

.marker {
	top: 2px;
	left: 20px;
}

.stop {
	min-height: 40px;
	font-size: 11pt;
	overflow: hidden;
}

#stop_name {
	width: 60%;
	padding-left: 5px;
	padding-right: 20px;
	overflow: hidden;
}

.stop .delete {
	margin-top: 10px;
	margin-right: 5px;
	float: right;
}

#switch {
	position: absolute;
	top: 80%;
}

#searchbar {
	text-align: center;
	font-size: 12pt;
}

#searchResults {
	text-align: left;
}

#search_name, #search_location {
	width: 250px;
}

.placeholder {
	border: 1px gray dotted;
}

#new {
	position: absolute;
	bottom: 10px;
	height: 100px;
	width: 100%;
	border: 1px dotted gray;
}

.search_result {
	padding-left: 10px;
}

.search_marker {
	margin-right: 10px;
}

.add_button {
	float: right;
	vertical-align: middle;
}

#newStop {
	height: 50px;
	border: 1px solid blue;
}

.calendar { width: 40px; font-size: 0.8em;
-webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px;
box-shadow: 0 0 5px #05587e; -moz-box-shadow: 0 0 5px #05587e; -webkit-box-shadow: 0 0 5px #05587e;
}

.calendar > span { display: block; }

.calendar > .month { text-align: center; font-size: 1.5em;
background: #6086a6; color: #fff; font-weight: bold;
-webkit-border-top-left-radius: 5px; -moz-border-radius-topleft: 5px;
-webkit-border-top-right-radius: 5px; -moz-border-radius-topright: 5px;
text-shadow: 0 1px #000;
background: -webkit-gradient(linear, left top, left bottom, from(#acc0d1), to(#6086a6));
        background: -moz-linear-gradient(top, #acc0d1, #6086a6);
}

.calendar > .calendarDay { text-align: center; font-weight: bold; font-size: 1.3em;
background: #fff;
-webkit-border-bottom-left-radius: 5px;
-moz-border-radius-bottomleft: 5px;
-webkit-border-bottom-right-radius: 5px;
-moz-border-radius-bottomright: 5px;
background: -webkit-gradient(linear, left top, left bottom, from(#405b72), to(#e6e6e6), color-stop(.08,#f9f9f9));
        background: -moz-linear-gradient(top, #f9f9f9, #e6e6e6);
}

