#map {
	width: 80%;
	height: 100%;
	position: absolute;
	left: 20%;
	top: 0px;
}
.sidebar {
	position: absolute;
	width:19.6%;
	min-width: 100px;
	height: 80%;
	left: 0px;
	top: 0px;
	border: solid black 4px;
	padding: 0px;
}
.sidebar h2  {
	text-align: center;
}
ul {
	list-style: none;
	padding: 0px;
	margin: 0px;
	padding-left: 20px;
}
#switch {
	position: absolute;
	top: 80%;
}