#map {
	width:70%;
	height: 100%;
	position: absolute;
	left: 30%;
	top: 0%;
}

#sidebar {
	position: absolute;
	width:30%;
	height:100%;
	min-width: 300px;
	left: 0px;
	top: 0px;
	margin: 0px;
	padding: 0px;
	padding-left: 0px;
}

#mapCanvas img { 
  max-width: none;
}

#mapCanvas label { 
  width: auto; display:inline; 
} 

#sidebar h2  {
	text-align: center;
}

#itinerary {
	padding: 0px;
}

#searchResults li {
	border: 1px solid black;
	margin: 2px;
}

.tab-content {
	height: 80%;
	overflow: auto;
}

ul {
	list-style: none;
	padding: 0px;
	margin: 0px;
}

ul li.stop{
	list-style: none;
	padding: 0px;
	margin-left: 30px;
	border: solid;
	border-width: 1px;
	border-color: gray;
	overflow: hidden;
}

#total_td {
	font-size: 10pt;
}

.day {
	position: relative;
	border: solid;
	border-color: #BBB;
	margin-left: 0px;
	height: 35px;
}

.day .title {
	padding-left:20px;
	font-weight:bold;
	font-size: 16pt;
	position: absolute;
	top: 15%;
}

.day .details {
	padding-right:10px;
	font-size: 11pt;
	float: right;
	position: absolute;
	top: 20%;
	left: 40%;
}

.day .delete {
	position: absolute;
	right: 10px;
	top: 20%;
}

.delete#marker {
	position: absolute;
	right: 5px;
	top: 60%;
}

.marker {
	position: absolute;
	left: 5px;
}

.stop {
	min-height: 40px;
	font-size: 11pt;
	overflow: hidden;
}

#stop_name {
	width: 60%;
	padding-left: 5px;
	padding-right: 20px;
	overflow: hidden;
}

.stop .delete {
	margin-top: 10px;
	margin-right: 5px;
	float: right;
}

#switch {
	position: absolute;
	top: 80%;
}

#searchbar {
	text-align: center;
	font-size: 12pt;
}

#searchResults {
	text-align: left;
}

#search_name, #search_location {
	width: 250px;
}